@font-face {
    font-family: century-gothic;
    src: url(GOTHIC.TTF);
}

* {
	text-align: center;
	font-family: century-gothic;
	overflow-x: hidden;
}

p, h1, h2 {
	padding: 10px;
	font-weight: normal;
}

a {
	text-decoration: none;
}

.header {
	-webkit-columns: 0px 2; /* Chrome, Safari, Opera */
    -moz-columns: 0px 2; /* Firefox */
    columns: 0px 2;
}

.logo {
	padding-top: 13px;
	padding-left: 13px;
}

.header>.logo {
	text-align: left;
}

.menubar {
	width: 100%;
	text-align: right;
	vertical-align: middle;
	line-height: 57px;
	padding: 10px;
	padding-right: 29px;
}

.menubar>a {
	color: black;
	padding: 10px;
}

.slogan {
	background-color: #9E8754;
    background: url("../img/hero1.jpg");
    background-size: cover;
    color: white;
    height: calc(100vh - 180px);
    display: table;
    width:100%;
    /*line-height: 800px;*/
}

.slogan h1 {
	padding: 30px;
}

.slogan p {
	padding-bottom: 30px;
}

.slogan-text>* {
    line-height: 120%;
}

.slogan-text {
    display:table-cell;
    vertical-align: middle;
}

.highlight {
    background-color: rgba(144, 196, 66, 0.5);
}

.bush {
    background-color: #90C442; /*fallback for ancient browsers*/
    background: url("../img/tree3_tile.png"), linear-gradient(rgba(0,0,0,0), white);
    background-size: auto 100%;
    position: relative;
    top: -8px;
}

.join {
	font-size: 20pt;
	line-height: 80px;
	color: white;
	background-color: #224401;
	border: 10px solid #224401;
	border-radius: 5px;
}

#sign-up {
	padding: 0px;
	color: #2A2831;
	background-color: #99CC55;
	border: 10px solid #99CC55;
	border-radius: 5px;
}

.how-it-works {
	background-color: #9E8754;
	color: white;
}

.three-columns {
	-webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
}

.four-columns {
	-webkit-columns: 30px 4; /* Chrome, Safari, Opera */
    -moz-columns: 30px 4; /* Firefox */
    columns: 30px 4;
}

.column, .column>h2 {
	/*overflow-y: hidden;*/
	padding: 10px;
}

.community {
	background-color: #BCDA8E;
}

.community>h1 {
	padding-top: 40px;
}

.community>div {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.community>div>p {
  text-align: left;
}

.welcome-home>h1 {
	font-size: 40pt;
	padding: 40px;
	padding-bottom: 20px;
}

.footer {
	background-color: #9E8754;
}

.footer>a {
	font-size: 10pt;
	color: white;
	margin: 20px;
	line-height: 40px;
}

.left-align>p {
	text-align: left;
	padding-top: 40px;
}

.pricing {

}

/*.pricing>.four-columns>.column {
    display: inline-block;
    position: relative;
}*/

.pricing>h2 {
    z-index: -20;
    /*width: 100px;;*/
}

/*.pricing>.four-columns>.column>img {
    /*position: absolute;*/
    /*position: relative;
    z-index: -10;*/
    /*padding-bottom: -600px;*/
    /*text-align: center;*/
    /*left: -80px;
    top: -50px;
    bottom: -500px;
}*/

.four-columns {
    overflow: visible;
}

.pricetag {
    padding-top: 0;
    background-image: url("../img/price-tag.png");
    background-size: 600px;
    background-repeat: no-repeat;
    min-height: 800px;
}

/*.pricing>.four-columns>.column::before {
    /*padding-top: 50px;*/
    /*margin-top: -50px;*/
    /*content: ""; /* empty but necessary */
    /*position: absolute;*/
    /*overflow: visible;*/
    /*background-image: url("../img/price-tag.png");*/
    /*background-size: 500px;*/
    /*background-position: 0px -100px;*/
/*}*/
