@font-face {
    font-family: century-gothic;
    src: url(GOTHIC.TTF);
}

* {
	text-align: center;
	font-family: century-gothic;
	overflow-x: hidden;
}

p, h1, h2 {
	padding: 10px;
	font-weight: normal;
}

p {
    font-size: 16pt;
}

h1 {
    font-size: 28pt;
}

h2 {
    font-size: 24pt
}

a {
	text-decoration: none;
}

.header {
	-webkit-columns: 0px 2; /* Chrome, Safari, Opera */
    -moz-columns: 0px 2; /* Firefox */
    columns: 0px 2;
}

.logo {
	padding-top: 13px;
	padding-left: 13px;
    overflow-y: hidden;
}

.header>.logo {
	text-align: left;
}

.menubar {
	width: 50vw;
	text-align: right;
	vertical-align: middle;
	line-height: 57px;
	padding: 10px;
	padding-right: 29px;
}

.menubar>a {
	color: black;
	padding: 10px;
}

.slogan {
	background-color: #9E8754;
    background: url("../img/hero1.jpg");
    background-size: cover;
    color: white;
    height: calc(100vh - 160px);
    display: table;
    width:100%;
    /*line-height: 800px;*/
}

.slogan h1 {
	padding: 30px;
}

.slogan p {
	padding-bottom: 30px;
}

.slogan-text>* {
    line-height: 120%;
}

.slogan-text {
    display:table-cell;
    vertical-align: middle;
}

.highlight {
    background-color: rgba(144, 196, 66, 0.5);
}

.bush {
    background-color: #90C442; /*fallback for ancient browsers*/
    background: url("../img/tree3_tile.png"), rgba(0,0,0,0);
    background-size: auto 100%;
    position: relative;
    top: -8px;
    bottom: -8px;
    z-index: 10;
}

.join {
	font-size: 20pt;
	line-height: 80px;
	color: white;
	background-color: #224401;
	border: 10px solid #224401;
	border-radius: 5px;
}

#sign-up {
	padding: 0px;
	color: #2A2831;
	background-color: #99CC55;
	border: 10px solid #99CC55;
	border-radius: 5px;
}

.game-grid {
    position: relative;
    top: -16px;
}

.game-screenshot {
    width: 100%;
    /*z-index: 2;*/
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.no-spacing a {
    overflow: hidden;
}

.no-overflow {
    overflow: hidden;
}

/*.leaf>img,.leaf>a>img {
    position: absolute;
    left: 0px;
    top: 0px;
}*/

.game-screenshot:hover {
    /*z-index: 1;*/
    transform: scale(1.08);
}

.how-it-works {
    border-top: solid 16px #9E8754;
	background-color: #9E8754;
	color: white;
    height: 500px;
    display: table;
    width: 100%;
}

.how-it-works-text {
    display: table-cell;
    vertical-align: middle;
}

.three-columns {
	-webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
}

.three-columns.nogap {
	-webkit-columns: 0px 3; /* Chrome, Safari, Opera */
    -moz-columns: 0px 3; /* Firefox */
    columns: 0px 3;
}

table.no-spacing {
    table-layout:fixed;
    width: 100%;
    border-spacing: 0; /* Removes the cell spacing via CSS */
    overflow: hidden;
    background-color: black;
}

.four-columns {
	-webkit-columns: 30px 4; /* Chrome, Safari, Opera */
    -moz-columns: 30px 4; /* Firefox */
    columns: 30px 4;
}

.five-columns {
	-webkit-columns: 0px 5; /* Chrome, Safari, Opera */
    -moz-columns: 0px 5; /* Firefox */
    columns: 0px 5;
}

.button-slider {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 20px);
	background-color: #84d17d;
	background-size: 40px;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 10px 20px 10px 20px;
	text-align: center;
}

.button-slider-left {
    left: 0px;
}

.button-slider-right {
    right: 0px;
}

.button-slider:hover {
	background-color: #6fb569;
}

.column, .column>h2 {
	padding: 10px;
}

.community {
	background-color: #BCDA8E;
}

.community>h1 {
	padding-top: 40px;
}

.community-text>div>p {
  text-align: left;
}

/*.community {
	background-color: #9E8754;
    background: url("../img/hero2.jpg");
    background-size: cover;
    color: white;
    height: 750px;
    height: calc(100vh - 300px);
    display: table;
    width:100%;
}*/ 
.community {
	display: table;
	background-color: #a4cc56;
	width: 1920px;
	height: 400px;
	color: black;
	text-align: center;
}

.community-text {
    display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.community-text>div {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.indent {
    text-indent: 2em;
}

.welcome-home {
    margin: 80px;
}

.welcome-home>h1 {
	font-size: 40pt;
	/*padding: 60px;*/
	padding-bottom: 60px;
}

/*.welcome-home>* {
    display: table-cell;
    vertical-align: middle;
}*/

.footer {
	background-color: #9E8754;
}

.footer>a {
	font-size: 10pt;
	color: white;
	margin: 20px;
	line-height: 40px;
}

.left-align>p {
	text-align: left;
	padding-top: 330px;
}

.pricing {

}

.pricing>h2 {
    z-index: -20;
}

.pricing>.floating {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.four-columns {
    overflow: visible;
}

.pricetag {
    background-image: url("../img/price-tag.png");
    background-size: 289px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 550px;
    position: relative;
}

.pricetag.pricetag2 {
    background-image: url("../img/price-tag2.png");
}

.pricetag.fade {
    background-image: url("../img/price-tag3.png");
}

.pricetag>* {
    padding-top:140px;
}

.frequency {
    padding-top: 180px !important;
}

.white {
    color: white;
}

.pricetag>h1 {
    font-size: 50px;
}

.fade {
    background-size: 220px;
    background-position: center top;
    padding-top: 0px;
}

.fade>* {
    opacity: 0.1;
}

.fade>h2 {
    font-size: 18pt;
}

.fade>h1 {
    font-size: 30pt;
}

.fade>.frequency {
    padding-top: 155px !important;
}

.sign-up-form>form>p>* {
    /*text-align: left;
	margin: auto;
    width: 50%;
    padding: 10px;*/
	/*padding-top: 0px;*/
}

.sign-up-form>form  {
    display: table;
}

.sign-up-form>form>p {
    display: table-row;
}

.sign-up-form>form>p>label {
    display: table-cell;
    text-align: right;
    /*display: inline-block; width: 210px; text-align: right;*/
}

.sign-up-form>form>p>input {
    display: table-cell;
    text-align: left;
}
